body {
  max-width: 40em;
  margin: 0 auto;
  padding: 0.5em;
  font-family: serif;
  font-size: 18px;
  line-height: 1.6em;
  color: black;
}
h1, h2, h3 {
  font-family: serif;
  font-weight: normal;
}
h1 {
  line-height: 1em;
}
li {padding: 0.3em}
